<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Start predictor script -->
    <node name="tracked_person_publisher" pkg="trajectory_prediction" type="tracked_person_publisher.py" output="screen">
        <!-- You can pass any command-line arguments to your script here -->
        <!-- <param name="param_name" type="string" value="param_value"/> -->
    </node>
</launch>

